.main-ad-dashboard {
  direction: ltr;

  .sidebar {
    background-color: #002060;
    color: white;
    width: 20%;
    box-sizing: border-box;
    height: calc(100vh - 200px);

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 15px 20px;
        cursor: pointer;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
          a{
            color: $sky-blue;
          }
        }
      }
    }
  }

  .card-custom {
    background-color: rgba(215, 241, 244, 1);
    border: none;
    border-radius: 8px;
  }

  .card-title {
    font-weight: bold;
    color: #002060;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .card-number {
    font-size: 32px;
    font-weight: bold;
    color: #002060;
  }

  .card-content {
    font-size: 14px;
    color: #002060;
  }
}

@include max(767.98) {
  .sidebar {
        position: fixed;
        left: -260px;
        margin-left: -100%;
        top: 0;
        width: 260px;
        height: 100%;
        background: #001871;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
    }

    .sidebar.show {
        left: 0;
        margin-left: 0;
    }

    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1001;
        background: #001871;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }
    .dataTables_wrapper, .table-container{
        max-width: 100%;
        overflow-x: scroll;
  }
}
@include min(767.98){
  .sidebar-toggle{
        display: none;
  }
}